<link rel="stylesheet" href="/assets/css/footer.css">

<footer>
	<div class="footer">
		<p class="copyright">
			Copyright © Wild Escape
		</p>
		<img src="assets/images/citrouille.png" alt="Petite citrouille étrange">
	</div>
</footer>
