{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/indexConnected.css">
{% endblock %}

{% block content %}
		<div class="bienvenue">
			<p>
				Bienvenue {{ user.pseudo }}
			</p> 
		</div>
	<div class="buttons">
			<button type="button" class="meConnecter">
				<a href="login">Me connecter</a>
			</button>
			<button type="button" class="creatAccount">
				<a href="inscription">Créer un compte</a>
			</button>
		<button type="button" class="play">
			<a href="scenario">Jouer</a>
		</button>
		<button type="button" class="ranking">
			<a href="">Classement</a>
		</button>
		<button type="button" class="ranking">
			<a href="">Me déconnecter</a>
		</button>
	</div>
{% endblock %}
