{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/index.css">{% endblock %}

{% block content %}
    <button type="submit" class="meConnecter">Me connecter</button> <br>
    <button type="" class="creatAccount">Créer un compte</button>
{% endblock %}
