{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/indexConnected.css">
{% endblock %}

{% block content %}
	<div class="bienvenue">
		<p>
			
			{{"Bienvenue " ~ user.pseudo }}
		</p>
	</div>
	<div class="buttons">
		{% if not user.pseudo is defined %}
			<button type="button" class="meConnecter">
				<a href="login">Se connecter</a>
			</button>
			<button type="button" class="creatAccount">
				<a href="inscription">Créer un compte</a>
			</button>
		{% endif %}
		{% if user.pseudo is defined %}
		<button type="button" class="play">
			<a href="scenario">Jouer</a>
		</button>
		{% endif %}
		<button type="button" class="ranking">
			<a href="">Classement</a>
		</button>
		{% if user.pseudo is defined %}
		<button type="button" class="ranking">
			<a href="/logout">Se déconnecter</a>
		</button>
		{% endif %}
	</div>
{% endblock %}
