{% block title %}<style>Créer un compte{display: none;}</style>{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/inscription.css">{% endblock %}

{% block form %}

<div class="inscription">
    <h2>Créer un compte</h2> 
    <form action="../../Controller/formSecurity.php" method="POST">
        <div class="formInscription">
            <label for="email">Email :</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="formInscription">
        <label for="pseudo">Pseudo :</label>
        <input type="text" name="pseudo" id="pseudo">
        </div>
        <div class="formInscription">
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="password">
        </div>
        <div class="buttonInscription">
        <button class="buttonStyle" type="submit">Connexion</button>
        </div>
    </form>
</div>

{% endblock %}
