<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/inscription.css">
</head>
<body>
    <header>
    </header>
    <div class="inscription">
        <h2>Créer un compte</h2>
        <form action="" method='post'>
            <div class="formInscription">
                <label class='titleEmail' for="email">Email :</label>
                <input class='textEmail' type="email" name="email" id="email">
            </div>
            <div class="formInscription">
            <label class='titlePseudo' for="Pseudo">Pseudo :</label>
            <input class='textPseudo' type="text" name="Pseudo" id="Pseudo">
            </div>
            <div class="formInscription">
            <label class='titleMDP' for="mdp">Mot de passe :</label>
            <input class='text' type="text" name="mdp" id="mdp">
            </div>
            <div class="buttonInscription">
            <button class="buttonStyle" type="submit">Connexion</button>
            </div>
        </form>
    </div>
</body>
</html>