{# <nav class="navbar">
    <h1>WILD ESCAPE</h1> #}
    {# <div class="burger">
        <label for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <div class="desktop">
            <a href="index.php">ACCUEIL</a>
            <a href="#">SCORE</a>
        </div>
     </div> #}

    <nav class="navbar">
        <h1>WILD ESCAPE</h1>
        <div id="mySidenav" class="sidenav">
            <a id="closeBtn" href="#" class="close">x</a>
            <ul class="txtMenuBurger">
                <li class="accueil"><a href="/">Accueil</a></li>
                {% if user.pseudo is defined %}
                <li class="score"><a href="scores">Score</a></li>
                {% endif %}
                {% if not user.pseudo is defined %}
    <li class="connect"><a href="login">Se connecter</a></li>
{% endif %}
            </ul> 
        </div>
        <div class="burger">
            <a href="#" id="openBtn">
                <span class="burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
        </div>
    </nav>
