<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>NabBar</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <nav class="navbar">
        <h1>WILD ESCAPE</h1>
        <ul>
            <li><a href="index.php">ACCUEIL</a></li>
            <li><a href="index.php">SCORE</a></li>
        </ul>
    </nav>
</body>
</html>

