{% extends 'layout.html.twig' %}

{% block title %}You Win{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/win.css">{% endblock %}

{% block content %}

 <main>

    <div class="pseudo">
        </span>
        {{ user.pseudo }} - {{ userScore }}</span>

    </div>

    <div class="gif">
     <img class="clothildeloose-gif" src="https://i.ibb.co/D48JnV3/WINNER-Clothilde.gif" alt="gif">
    </div>
    <div class="titre">
     <h1>YOU WIN</h1>
    </div>
    <div class="win">
        
        {# <p>score : <span id="score">18</span></p> #}
        {# <button id="replayButton">TRY AGAIN</button> #}
    <div class="loose">
 </main>  

{% endblock %}

