{% extends 'layout.html.twig' %}

{% block title %}Enigme
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/scene.css">
<link rel="stylesheet" href="/assets/css/enigme.css">
{% endblock %}

{% block content %}
<body>
	<div class="enigme1">
		<div class="ImgDialogues">
			<div class="ImageCompteur">
				<map name="thread">
					<area shape="circle" coords="112,36,17" alt="Fils du tableau électrique" href="/src/View/enigme.html.twig"/>
				</map>
				<img usemap="#thread" src="/assets/images/electricite_416x224_Pastille.jpg" alt="Branchement électrique présentant des cables non reliés" onmouseover="this.src='/assets/images/electricite_416x224_Pastille.jpg'" onmouseout="this.src='assets/images/electricite_416x224_Pastille2.jpg.png'"/>
			</div>
		</div>

		{# <div class="Dialogues"> #}
			<p class="Dialogues" id="typedtext" data-text={{ scene['dialogues'] }}>
			</p>
		{# </div> #}
	</div>

	<div class="tools">
		<div class="pseudo">
			JojoPok
			<!-- fonction qui récupère le pseudo du joueur lorsque celui-ci est connecté -->
		</div>

		<div class="timer">
			60:00
			<!-- fonction timer -->
		</div>

		<div class="inventory"></div>

		<div class="indice">
			<img src="/assets/images/ampoule_bw.png" alt="ampoule en noir et blanc" onmouseover="this.src='/assets/images/ampoule_color.png'" onmouseout="this.src='/assets/images/ampoule_bw.png'"/>
		</div>
	</div>
</div>

</body>

{% block javascript %}
<script>
</script>


{% endblock %}

{% endblock %}
