
{% extends 'layout.html.twig' %} 

{% block title %}Enigme 1 : Tableau électrique / Rétablir le courant dans la WCS{% endblock %}</title>

{% block content %}
    <body>
        <div class="NavBar">
            WILD ESCAPE
        </div>
        <div class="enigme1">
            <div class="ImgDialogues">
                <div class="ImageCompteur">
                    <map name="thread">
                        <area 
                        shape="circle" 
                        coords="112,36,17" 
                        alt="Fils du tableau électrique"
                        href="../../../2023-09-PHP-Bordeaux-P2-Escape-game/src/View/Enigme1_elec.html"/>
                    </map>
                        <img usemap="#thread" src="../../../2023-09-PHP-Bordeaux-P2-Escape-game/public/assets/images/electricite_416x224_Pastille.jpg" alt="Branchement électrique présentant des cables non reliés" onmouseover="this.src='../../../2023-09-PHP-Bordeaux-P2-Escape-game/public/assets/images/electricite_416x224_Pastille.jpg'" onmouseout="this.src='../../../2023-09-PHP-Bordeaux-P2-Escape-game/public/assets/images/electricite_416x224_Pastille2.jpg.png'"/>    
                        </div>
                </div>
    
                <div class="Dialogues">
                    <div id="typedtext"></div>
                    <script>
                        var iIndex = 0;
                        var iTextPos = 0;
                        var aText = [
                            "Oh un tableau électrique ! Je vais pouvoir rallumer la lumière ! Des instructions ont été laissé pour me guider."
                        ];
                        var iArrLength = aText[0].length;
                        var iScrollAt = 20;
                        var iRow = 0;
                        var sContents = "";
                        var iSpeed = 50;
                
                        function typewriter() {
                            sContents = ' ';
                            iRow = Math.max(0, iIndex - iScrollAt);
                            var destination = document.getElementById("typedtext");
                
                            while (iRow < iIndex) {
                                sContents += aText[iRow++] + '<br />';
                            }
                            destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
                            if (iTextPos++ == iArrLength) {
                                iTextPos = 0;
                                iIndex++;
                                if (iIndex != aText.length) {
                                    iArrLength = aText[iIndex].length;
                                    setTimeout(typewriter, 500);
                                }
                            } else {
                                setTimeout(typewriter, iSpeed);
                            }
                        }
                
                        typewriter();
                    </script>
                </div>
            </div>
    
        <div class="tools">
            <div class="pseudo">
            JojoPok
            <!-- fonction qui récupère le pseudo du joueur lorsque celui-ci est connecté -->
            </div>
        
            <div class="timer">
            60:00
            <!-- fonction timer -->
            </div>
    
            <div class="inventory">
            </div>
    
            <div class="indice">
                <img  src="..\..\..\2023-09-PHP-Bordeaux-P2-Escape-game\public\assets\images\ampoule_b&w.png" onmouseover="this.src='../../../2023-09-PHP-Bordeaux-P2-Escape-game/public/assets/images/ampoule_color.png'" onmouseout="this.src='../../../2023-09-PHP-Bordeaux-P2-Escape-game/public/assets/images/ampoule_b&w.png'" />
            </div>
    
        </div>
    </div>
    
    <div class="footer">
    </div>
    

</body>
{% endblock %}