<!doctype html>
<html lang="fr">
<<<<<<< HEAD
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/assets/images/favicon.png">
=======
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="icon" href="/assets/images/favicon.png">
>>>>>>> 4b59c4f0699f215507b1c10740835241e21bc28a

		<title>
			{% block title %}{% endblock %}
		</title>

<<<<<<< HEAD
    <link rel="stylesheet" href="/assets/css/style.css">
    
    {% block stylesheet %}
    <link rel="stylesheet" href="..\..\..\2023-09-PHP-Bordeaux-P2-Escape-game\public\assets\css\Enigme1.css">
    <link rel="stylesheet" href="..\..\..\2023-09-PHP-Bordeaux-P2-Escape-game\public\assets\css\Scene1.css">
    {% endblock %}
</head>
=======
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/navbar.css">
		<link rel="stylesheet" href="/assets/css/footer.css"> {% block stylesheet %}{% endblock %}
		</head>
>>>>>>> 4b59c4f0699f215507b1c10740835241e21bc28a

		<body>

			{% block navbar %}
				{% include 'Home/navbar.html.twig' %}
			{% endblock %}


			{% block content %}{% endblock %}
			{% block footer %}
				{% include 'footer.html.twig' %}
			{% endblock %}
			{% block javascript %}{% endblock %}
		</body>
	</html>
