<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="icon" href="/assets/images/favicon.png">

		<title>
			{% block title %}{% endblock %}
		</title>

		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/navbar.css">

		

		<link rel="stylesheet" href="/assets/css/footer.css">
		 {% block stylesheet %}
		 
		 {% endblock %}
		</head>

		<body>

			{% block navbar %}
				{% include 'Home/navbar.html.twig' %}
			{% endblock %}


			{% block content %}
			<link rel="stylesheet" href="/assets/css/enigma.css">
			{% endblock %}
			
			{% block footer %}
				{% include 'footer.html.twig' %}
			{% endblock %}
			{% block javascript %}{% endblock %}
		</body>
	</html>
