{% extends 'layout.html.twig' %} 

{% block title %}Home Page quand on est connecté{% endblock %}

{% block content %}

<div class="pseudo">
{# Afficher "Hello $pseudo !"#}
</div>

<div class="startTuto">
<img src="/assets/images/Scenario_tuto_mobile.png" alt="image représentant l'illustration pour le tuto">
</div>


{% endblock %}