{% extends 'layout.html.twig' %} 

{% block title %}Page de connexion{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/scenario.css">{% endblock %}
{% block audio %}{% endblock %}
{% block content %}


<p class="pseudo-scenario">
{{ user.pseudo }} </p>

<p class="startTuto">
<a href="tutorial"><img src="/assets/images/Scenario_tuto_mobile.2.png" alt="illustration pour le tuto" onclick="this.src='/assets/images/Scenario_tuto_mobile.2.png'"</p></a>

<p class="scenarioTitle">Scenarios </p>

<span id="game">

<p class="game1">
<a id="sceneLink" href="scene"><img src="/assets/images/openspace.jpg" alt="illustration du jeu 'échappez vous de la wild'" onmouseover="this.src='/assets/images/escape_wild.png'" onmouseout="this.src='/assets/images/openspace.jpg'"></a>
</p>

<p class="game1">
<img src="/assets/images/pokemon1.png" alt="illustration du jeu 'Le manoir hanté d'Ectoplasma'"  onmouseover="this.src='/assets/images/pokemon2.png'" onmouseout="this.src='/assets/images/pokemon1.png'" href="#">
</p>

<p class="game1">
<img src="/assets/images/hospital_psychiatric.1.png" alt="illustration du jeu 'Hopital Psyhiatric'" onmouseover="this.src='/assets/images/hospital_psychiatric.2.png'" onmouseout="this.src='/assets/images/hospital_psychiatric.1.png'" href="#">
</p>

<p class="game1">
<img src="/assets/images/haunted_house.1.png" alt="illustration du jeu 'La Maison Hantée'" onmouseover="this.src='/assets/images/haunted_house.2.png'" onmouseout="this.src='/assets/images/haunted_house.1.png'" href="#">
</p>

</span>

{% block javascript %}<script src="assets/js/navbar.js" defer></script>
		{% endblock %}


{% endblock %}