{% extends 'layout.html.twig' %}

{% block title %}Scores{% endblock %}

{% block content %}
    <h1>Scores</h1>

    <h2>Votre Score</h2>
    <p>Votre pseudo : {{ user.pseudo }}</p>
    <p>Votre score : {{ userScore }}</p>

    <h2>Classement général</h2>
    <table>
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for score in globalScores %}
                <tr>
                    <td>{{ score.pseudo }}</td>
                    <td>{{ score.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}