.quizz{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.question {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color:rgba(41, 21, 3, 0.5);
  margin: auto;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 0 10px black;
}


    .answer {
      width: 100%;  
    }
        
        .answer > div {    
          width: 49%;
          display: inline-block;
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 10px;
          margin-bottom: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          background-color:rgba(41, 21, 3, 0.5);
          border-radius: 20px;
          box-shadow: 0 0 10px black;
          text-align: center;
        }
        .answer label {
          background-color: transparent;
        }
        .answer input {

          background-color:rgba(225, 216, 208, 0.5);
          border-radius: 50px;
          
        }

      