footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    color: var(--primary-color);
    /* border-radius:15px 15px 0% 0% ; */
    width: 100%;
    align-items: center;
<<<<<<< HEAD
  }

  footer>p{
    margin-left: 20px;
  }

  .citrouille{
    width: 70px;
    margin-right: 20px;
  }

=======
    margin-top: 50rem;
  }

footer {
    width: 100%;
}
>>>>>>> ab1b360f4c038f6d43d7bf4d75e4af9a6f5da527
