.logIn {
    display: grid;
    margin: 8px;
    padding: 8px;
    padding-bottom: 10rem;
    align-items: center;
    background-image: url('../images/connexion.jpg');
    background-size: cover;
    border-radius: 15px;
    align-content: center;
    align-items: end;
    justify-items: center;
    width: 90%;
    height: auto;
    color: var(--primary-color);
}

.logIn>h2{
    margin: 3rem;
    text-shadow: var(--secondary-color) 1px 0 5px;
}


label {
    color: var(--primary-color);
    font-size: 1.5rem;
}

input {
    background-color: #D9DCDD;
    border-radius: 1rem;
    height: 2rem;
}

button {
   color: var(--background-color);
   font-weight: bold;
   margin-top: 2rem;
   background-color: #D9DCDD;
   border: none;
   border-radius: 0.5rem;
   height: 2rem;
   width: 10rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.creat-Acount {
    font-size: 1.5rem;
    color: beige;
    

}

.creat-Acount:hover {
    color: red;
}

.meConnecter:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.meConnecter {
    box-shadow: var(--secondary-color) 0px 0 5px
}
