.inscription{
    display: grid;
    margin: 8px;
    padding: 8px;
    background-image: url("../images/inscription_fond.png");
    background-size: cover;
    border-radius: 15px;
    align-content: center;
    align-items: end;
    justify-items: center;
    width: 90vw;
    height: 100vw;
    color: var(--primary-color);
}

@media screen and (min-width:600px){
    .inscription{
        width: 100vw;
        margin: 0px;
        background-position: center;
    }
}

h2{
    margin: 3rem;
    text-shadow: var(--secondary-color) 1px 0 5px;
}

@media screen and (min-width:600px){
    h2{
        font-size: 3rem;
        margin-bottom: 7rem;
    }
}

form{
    width: 90%; 
}

@media screen and (min-width:600px){
    form{
        width: 500px;
    }
}

.formInscription{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10PX;
    margin-right: 35px;
    text-shadow: var(--secondary-color) 1px 0 5px;
}

@media screen and (min-width:600px){
    .formInscription{
        margin-bottom: 22PX;
        margin-right: 110px;
    }
}

input{
    background-color: var(--secondary-background-color);
    margin-left: 8px;
}

@media screen and (min-width:600px){
    input{
    width: 70% ; 
    }
}

.buttonInscription{
    display: flex;
    justify-content: center;
    margin: 3rem;
    align-items: center;
}

@media screen and (min-width:600px){
    .buttonInscription{
        margin: 7rem;
    }
}

.buttonStyle{
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 8px;
    box-shadow: var(--secondary-color) 0px 0 5px;
}

@media screen and (min-width:600px){
    .buttonStyle{
        padding-right: 16px;
        padding-left: 16px;
    }
}

.buttonStyle:hover{
    color: var(--secondary-color);
  }

