@font-face {
    font-family: "Jockey One";
    src: url("/assets/font/JockeyOne-Regular.ttf");
    font-family: "Digital Numbers";
    src: url("/assets/font/DigitalNumbers-Regular.ttf");
}

:root{
    --primary-color : white;
    --secondary-color : red;
    --background-color : black;
    --secondary-background-color: #D9DCDD;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
