
.box {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}


 .pseudo {
    width: 10rem;
    height: 3rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    background-color: #FBFBFB;
    font-family: "Jockey One";
    text-align: center; 
    font-size: 24px;
    line-height: 2;
    font-weight: bold;
   
} 


 .timer {
    width: 10rem;
    height: 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    background-color: #FBFBFB;
    font-family: "Digital Numbers";
    text-align: center;
    font-size: 30px;
    line-height: 2;
    font-weight: bold;
}

.inventory {
    width: 4rem;
    height: 4rem;
    border: 1rem #FBFBFB;
    background-color: lightgrey;
    box-shadow: 2px 4px 4px 2px rgba(0.25, 0.25, 0.25, 0.25);
}

.indice>img {
    width: 3rem;
    height: 3rem;
    gap: 1rem;
} 

#popup {
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index:98;
    position: fixed;
    display: none;
}

#popup.open{
    display: block !important;
}

.popup-content {
    max-width: 25rem;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #FBFBFB;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0.3rem 0.3rem 0.7rem black;
    display: flex;
    align-items: center;
    margin: 2rem;
}

.popup-exit {
    position: absolute;
    text-decoration: none;
    color: white;
    background-color: white;
    border-radius: 40%;
    top: -5px;
    right: 0;
    box-shadow: 0.2rem 0.2rem 0.1rem black;
}

/* .Dialogues>#typedtext {
    display: flex;
    width: 25rem;
    height: 2.5rem;
    /* margin-top: 0.5rem; */
    /* background-color: #FBFBFB;
    border-radius: 15px;
    font-size: 14px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
} */

.pastille {
    transition: filter 0.3s ease-in-out;
}

.pastille:hover {
    filter: brightness(1.5); /* ou tout autre effet de couleur que vous souhaitez appliquer */
}


@media all and ( min-width: 700px) 
{

    .box {
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
        
.pseudo {
            width: 10rem;
            height: 3rem;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border-radius: 2rem;
            background-color: #FBFBFB;
            font-family: "Jockey One";
            text-align: center; 
            font-size: 24px;
            line-height: 2;
            font-weight: bold;
           
        }
        
        
.timer {
            width: 10rem;
            height: 4rem;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border-radius: 2rem;
            background-color: #FBFBFB;
            font-family: "Digital Numbers";
            /* text-align: center; */
            font-size: 30px;
            line-height: 2;
            font-weight: bold;
        }
        
.inventory {
            width: 4rem;
            height: 4rem;
            border: 1rem #FBFBFB;
            background-color: lightgrey;
            box-shadow: 2px 4px 4px 2px rgba(0.25, 0.25, 0.25, 0.25);
        }
        
.indice>img {
            width: 3rem;
            height: 3rem;
            gap: 1rem;
        }
        
#popup {
            top:0;
            left:0;
            right: 0;
            bottom:0;
            z-index:98;
            position: fixed;
            display: none;
        }
        
#popup.open{
            display: block !important;
        }
        
.popup-content {
            max-width: 25rem;
            width: 100%;
            padding: 30px;
            box-sizing: border-box;
            background-color: #FBFBFB;
            position: absolute;
            flex-wrap: wrap;
            justify-content: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 30px;
            box-shadow: 0.3rem 0.3rem 0.7rem black;
            display: flex;
            align-items: center;
            margin: 2rem;
        }
        
.popup-exit {
            position: absolute;
            text-decoration: none;
            color: white;
            background-color: white;
            border-radius: 40%;
            top: -5px;
            right: 0;
            box-shadow: 0.2rem 0.2rem 0.1rem black;
        }
        
        /* .Dialogues>#typedtext {
            display: flex;
            width: 25rem;
            height: 2.5rem;
            /* margin-top: 0.5rem; */
            /* background-color: #FBFBFB;
            border-radius: 15px;
            font-size: 14px;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        } */
        
.pastille {
            transition: filter 0.3s ease-in-out;
        }
        
.pastille:hover {
            filter: brightness(1.5); /* ou tout autre effet de couleur que vous souhaitez appliquer */
        }

}